{% extends 'base.html' %}
{% block content %}

<a href = "{% url 'reservas:cadastrar' %}">
  <center><button type="button" class="btn btn-warning btn-lg btn-block">Nova Reserva</button></center>
</a>

{% for reserva in reservas %}
<div class="card text-center">
  <div class="card-body">
    <a href = "{% url 'reservas:visualizar' id=reserva.id %}"><h4 class="card-title">Hora da Reserva: {{ reserva.data_hora_reserva }}</h4></a>
    <p class="card-text">Laboratório: {{ reserva.laboratorio.nome }}</p>
    <p class="card-text">Sala: {{ reserva.sala.nome }}</p>
    <p class="card-text">Solicitante: {{ reserva.solicitante }}</p>
    <p class="card-text">Justificativa: {{ reserva.justificativa }}</p>
    {% if reserva.avaliada %}
      {% if reserva.aceita %}
        <p class="card-text">Aceita por: {{reserva.avaliada_por}}</p>
      {% else %}
        <p class="card-text">Recusada por: {{reserva.avaliada_por}}</p>
      {% endif %}
      <p class="card-text">Comentario: {{reserva.comentario}}</p>
    {% else %}
      <p class="card-text">Pendente</p>
    {% endif %}
    <a href="{% url 'reservas:avaliar' id=reserva.id %}" class="btn btn-warning">Avaliar</a>
    <a href="{% url 'reservas:visualizar' id=reserva.id %}" class="btn btn-warning">Ver Reserva</a>
    <a href="{% url 'reservas:editar' id=reserva.id %}" class="btn btn-warning">Editar</a>
    <a href="{% url 'reservas:remover' id=reserva.id %}" class="btn btn-warning">Remover</a>
  </div>
</div>
{% endfor %}
{% endblock %}
