{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3>Hora da Reserva: {{reserva.data_hora_reserva}}</h3>
    <p class="lead">Laboratório: {{reserva.laboratorio.nome}}</p>
    <p class="lead">Sala: {{reserva.sala.nome}}</p>
    <p class="lead">Solicitante: {{ reserva.solicitante }}</p>
    <p class="lead">Justificativa: {{reserva.justificativa}}</p>
    {% if reserva.avaliada %}
      {% if reserva.aceita %}
        <p class="lead">Aceita por: {{reserva.avaliada_por}}</p>
      {% else %}
        <p class="lead">Recusada por: {{reserva.avaliada_por}}</p>
      {% endif %}
      <p class="lead">Comentario: {{reserva.comentario}}</p>
    {% else %}
      <p class="lead">Pendente</p>
    {% endif %}
  </div>
</div>
{% endblock %}
