{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
<h1 class="title">Sala</h1>
<div class="container">
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <center><button type="submit" class="btn btn-warning">Salvar</button></center>
    <div class="row">
      <div class="col-lg-9 form-center">
        <h3 class="title">Informações de Sala</h3>
        {% for field in form.visible_fields %}
        {% bootstrap_field field %}
        {% endfor %}
      </div>
    </div>
  </form>
</div>
{% endblock %}
