{% extends 'base.html' %}
{% block content %}

<a href = "{% url 'salas:cadastrar' %}">
  <center><button type="button" class="btn btn-warning btn-lg btn-block">Nova Sala</button></center>
</a>

{% for sala in salas %}
<div class="card text-center">
  <div class="card-body">
    <a href = "{% url 'salas:visualizar' id=sala.id%}"><h4 class="card-title">{{ sala.numero }}</h4></a>
    <p class="card-text">Capacidade: {{ sala.capacidade }}</p>
    {% if sala.reservada %}
      <p class="card-text">Reservada por: {{sala.reservada_por}}</p>
    {% else %}
      <p class="card-text">Sala Disponível</p>
    {% endif %}
    <a href="{% url 'salas:editar' id=sala.id %}" class="btn btn-warning">Editar</a>
    <a href="{% url 'salas:remover' id=sala.id %}" class="btn btn-warning">Remover</a>
  </div>
</div>
{% endfor %}
{% endblock %}
