language: python

python:
  - "3.6"

addons:
  - postgresql: "10"

branches:
  only:
    - gabriel#59
    - dev
    - master

env:
  - DJANGO=2.2

install:
  - pip install --upgrade pip
  - pip install -r requeriments.txt

before_script:
  - echo "SECRET_KEY=$SECRET_KEY" >> .env
  - echo "DB_NAME = 'portal'" >> .env
  - echo "DB_USER = 'gag'" >> .env
  - echo "DB_PASSWORD =$DB_PASSWORD" >> .env
  - echo "DB_HOST = 'localhost' " >> .env
  - echo "DB_PORT = '' " >> .env

  - psql --version
  - psql -c "CREATE DATABASE portal;" -U postgres
  - psql -c "CREATE USER gag PASSWORD '$DB_PASSWORD';" -U postgres
  - psql -c "ALTER USER gag CREATEDB;" -U postgres
  - psql -c "GRANT ALL PRIVILEGES on DATABASE portal to gag;" -U postgres
  - "sh -e /etc/init.d/xvfb start"

  - python manage.py makemigrations
  - python manage.py migrate

script:
  - python manage.py test backend