{% extends 'base.html' %}
{% block content %}

<a href = "{% url 'eventos:cadastrar' %}">
  <center><button type="button" class="btn btn-warning btn-lg btn-block">Novo Evento</button></center>
</a>

{% for evento in eventos %}
<div class="card text-center">
  <div class="card-body">
    <a href = "{% url 'eventos:visualizar' id=evento.id %}"><h4 class="card-title">{{ evento.titulo }}</h4></a>
    <p class="card-text">{{ evento.descricao }}</p>
    <p class="card-text">{{ evento.data_criacao }}</p>
    <a href="{% url 'eventos:editar' id=evento.id %}" class="btn btn-warning">Editar</a>
    <a href="{% url 'eventos:remover' id=evento.id %}" class="btn btn-warning">Remover</a>
  </div>
</div>
{% endfor %}
{% endblock %}
