{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h1 class="title">Usuário</h1>
<div class="container">
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {% for field in form_pessoa.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}

    {% for field in form_user.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}

    <center><button type="submit" class="btn btn-warning">Login</button></center>
  </form>
</div>
{% endblock %}
