{% extends 'base.html' %}
{% block content %}

<a href = "{% url 'laboratorios:cadastrar' %}">
  <center><button type="button" class="btn btn-warning btn-lg btn-block">Novo Laboratório</button></center>
</a>

{% for lab in laboratorios %}
<div class="card text-center">
  <div class="card-body">
    <a href = "{% url 'laboratorios:visualizar' id=lab.id%}"><h4 class="card-title">{{ lab.nome }}</h4></a>
    <p class="card-text">Capacidade: {{ lab.capacidade }}</p>
    <p class="card-text">Responsável: {{ lab.responsavel }}</p>
    {% if lab.reservado %}
      <p class="card-text">Reservado por: {{lab.reservado_por}}</p>
    {% else %}
      <p class="card-text">Laboratório Disponível</p>
    {% endif %}
    {% if pessoa.tipo == 'Coordenador' %}
      <a href="{% url 'laboratorios:editar' id=lab.id %}" class="btn btn-warning">Editar</a>
      <a href="{% url 'laboratorios:remover' id=lab.id %}" class="btn btn-warning">Remover</a>
    {% endif %}
  </div>
</div>
{% endfor %}
{% endblock %}
