{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<h1 class="title">Login</h1>

<div class="container">
<form method="post" action="{% url 'core:login' %}">
    {% csrf_token %}
    {% for field in form %}
        {% bootstrap_field field %}
    {% endfor %}

    <center><button type="submit" class="btn btn-warning">Login</button></center>
    <input type="hidden" name="next" value="{% url 'core:home' %}">
</form>

<p><a href="{% url 'usuarios:cadastrar' %}">Novo por aqui? Crie uma conta!</a></p>
</div>
{% endblock %}