{% extends 'base.html' %}

{% block content %}

<div style="text-align:center; margin: 0px 0 10 0px;">
    <a href = "{% url 'noticias:cadastrar' %}">Nova Noticia</a>
</div>

{% for noticia in noticias %}
    <h2><a href = "{% url 'noticias:visualizar' id=noticia.id %}">{{ noticia.titulo }}</a></h2>
    <p>{{ noticia.subtitulo }}</p>
    <p>{{ noticia.data_criacao }}</p>
    <a href = "{% url 'noticias:editar' id=noticia.id %}">Editar</a>
    <a href = "{% url 'noticias:remover' id=noticia.id %}">Remover</a>
{% endfor %}

{% endblock %}