{% extends 'base.html' %}
{% block content %}

<a href = "{% url 'noticias:cadastrar' %}">
  <center><button type="button" class="btn btn-warning btn-lg btn-block">Nova Noticia</button></center>
</a>

{% for noticia in noticias %}
<div class="card text-center">
  <div class="card-body">
    <a href = "{% url 'noticias:visualizar' id=noticia.id %}"><h4 class="card-title">{{ noticia.titulo }}</h4></a>
    <p class="card-text">{{ noticia.subtitulo }}</p>
    <p class="card-text">{{ noticia.data_criacao }}</p>
    {% if pessoa.tipo == 'Coordenador' %}
      <a href="{% url 'noticias:editar' id=noticia.id %}" class="btn btn-warning">Editar</a>
      <a href="{% url 'noticias:remover' id=noticia.id %}" class="btn btn-warning">Remover</a>
    {% endif %}
  </div>
</div>
{% endfor %}
{% endblock %}
